@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.carousel-media {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.carousel-content {
  color: white;
  position: relative;
  z-index: 10;
  padding: 4rem;
  width: 100%;
  max-width: 120rem;
  h2 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    text-shadow: 2px 2px 1px rgba(black, 0.3);
  }
  p {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0.3rem;
    padding: 1.2rem;
    margin: 0;
    font-size: 2rem;
    max-width: 50rem;
    margin-bottom: 2rem;
  }
}

.glide__slides {
  margin: 0;
}
