.faq-wrapper {
  background: $blue-dark;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.faq {
  max-width: 100rem;
  color: white;
  h2 {
    margin: 0;
  }
}

.faq-question {
  font-weight: 600;
  margin-top: 2rem;
}
