<div class="callout-bar">
  <a href="#" class="callout-donation">Donate Now</a>
  <a href="#" class="callout-newsletter">Sign Up For Our Newsletter</a>
</div>
<footer class="footer">
  <div class="footer-top">
    <div class="footer-brand">
      <div class="footer-brand-inner">
        <a href="/" class="footer-logo">
          <img src="{{ theme:img src="LUCA-logo.jpg"}}" alt="latino u logo">
        </a>
        <div class="footer-social">
          <a
            href=""
            href="mailto:{{ email }}"
            class="footer-social-link"
            >{{ partial:svg/email }}</a
          >
          <a
            href=""
            href="{{ facebook }}"
            class="footer-social-link"
            >{{ partial:svg/facebook }}</a
          >
          <a
            href=""
            href="{{ twitter }}"
            class="footer-social-link"
            >{{ partial:svg/twitter }}</a
          >
          <a
            href=""
            href="{{ vimeo }}"
            class="footer-social-link"
            >{{ partial:svg/vimeo }}</a
          >
        </div>
      </div>
    </div>
    <div class="footer-links">
      <a href="">Who We Are</a>
      <a href="">Get Involved</a>
      <a href="">Programs</a>
      <a href="">News + Events</a>
    </div>
    <div class="footer-partners">
      {{ theme:img src="footer-logos/ncan.png" tag="true" }}
      {{ theme:img src="footer-logos/ex.png" tag="true" }}
      {{ theme:img src="footer-logos/cacny.png" tag="true" }}
      {{ theme:img src="footer-logos/npw.png" tag="true" }}
    </div>
  </div>
  <div class="footer-bottom">
    © 2019 Latino U College Access |
    <a href="mailto:info@latinoU.org">info@latinoU.org</a>
  </div>
</footer>
