<div class="involved-wrapper">
  <h2 class="involved-title">Get Involved</h2>
  <div class="involved-blocks">
    {{ get_involved }}
    <div class="involved-block">
      <h3>{{ title }}</h3>
      <p>{{ text }}</p>
      <a href="{{ link_url }}" target="_blank">{{ link_text }}</a>
    </div>
    {{ /get_involved }}
  </div>
  <a
    class="invovled-newsletter-link"
    href="http://visitor.r20.constantcontact.com/d.jsp?llr=88oyqrlab&p=oi&m=1111910792059&sit=huuu67ohb&f=60577bf3-5205-40d6-974c-91f317ad1526"
    target="_blank"
    >Sign Up to Receive Our Newsletter</a
  >
</div>
